@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.top-banner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: #ff6900;
    height: 50px;
    color: whitesmoke;
    margin-bottom: 30px;
}


.gender {
    font-family: 'Rubik', sans-serif;
}

.logo {
    width: 148px;
    height: 31px;
}

/* Shop Window */

.container-shop-window {
    display: flex;
    margin: 0 auto;
    background-color: rgb(77, 228, 228);
    height: 800px;
    width: 80%;
}

.window {
    background-color: bisque;
    height: 100px;
    width: 300px;
}

.w1 {
    background-image:cover;
    background-image: url("../img/1.webp");
    height: 100px;
    width: 300px;
}
